.triple__column{
    width: 100vh;
    //width: 50%;
    padding: 15px;
    &__title{
        @include title-column;
    }
    &__parrafo{
        width: 700px;
        &__text {
            @include single-colum-style;
            padding: 10px;
            width: 210px;
        }
        
    }
    
}