.triple__pictures{
    position: relative;
    &__first{
        width: 100%;
        img{
            width: 100%;
        }
    }
    &__second, &__third{
        width: 49%;
        height: 200px;
        float: left;
        img{
            width: 100%;
            height: 100%;
            object-fit:cover;
        }
    }
    &__second{
        margin-right: 10px;

    }
    &__creditos{
        text-align: end;
        padding: 10px;
        font-size: 8px;
    }
    &__description{
        padding: 10px;
        text-align: justify;
    }
}