.triple__column{
    padding: 15px;
    &__title{
        //abstract/utils
        @include title-column;
    }
    &__parrafo{
        //abstracts/utils
        @include parrafo-column;
        &__text {
            column-count: 3;
            column-gap: 25px;
            &--style{
                position: relative;
                display: block;
                padding: 10px 10px;
                //abstract/utils
                @include parrafo-subtitle-column;
                text-indent: 0;
            }
            &--style::before{
                content: "";
                position: absolute;
                top: 0;
                left: 15%;
                width: 70%; 
                height: 100%;
                border-top: 1px solid $borders-color-dark;
            }

        }
        
    }
    
}