
.rosa, .verde, .azul, .rojo, .morado, .gris{
    display: block;
    height: 300px;
    width: 100%;
}

.rosa{
    background-color: pink;
}    
.verde{
    background-color: green;
}
.azul{
    background-color: blue;
}
.rojo{
    background-color: red;
}
.morado{
    background-color: purple;
}
.gris{
    background-color: gray;
}


@media(max-width:500px) {
    body{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .rosa,.verde{
        height: 220px;
    }

    .azul{
        height: 100px;
    }

    .rojo,.morado{
        display: none;
    }
}

@media(min-width:501px) {
    body{
        display: flex;
        justify-content:space-around;
        align-items:stretch;
        flex-wrap: wrap;
        flex-direction: row;
        height: 800px;
    }
    .rosa{
        width: 100%;
        height: 220px;
    }
    .verde,.azul,.rojo{
        width:33%;
        height: 220px;
    }
    .morado,.gris{
        height: 350px;
    }
    .morado{
        width: 54%;
    }
    .gris{
        width: 45%;
    }
}

@media(min-width:751px) {
    body{
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
    }

    .rosa{
        height: 30px;
        width: 100%;
    }
    .verde{
        width: 100%;
        height: 150px;
    }
    .azul{
        width: 100%;
        height: 200px;
    }
    .rojo,.morado,.gris{
        width: 33.3%;
        height: 150px;
    }
}
    
