//esquema de colores primer nivel
$primerColor: #EAE85A;
$segundoColor: #DEBF50;
$tercerColor: #F5C764;
$cuartoColor: #DEA350;
$quintoColor: #FAA05A;

//esquema de colores segundo nivel
$sectoColor: #FAA05A;
$septimoColor: #7EF57D;
$octavoColor: #F5A364;
$novenoColor: #694CF5;
$decimoColor: #4F3DA8;

//tipografía
$font: Verdana;
$small: 12px;
$medium: 14px;
$large: 18px;
$x-large: 20px;
$xx-large: 22px;

