/*
 ACÁ DEBE IR EL CÓDIGO NECESARIO PARA CUMPLIR LOS REQUERIMIENTOS
*/

body {
    display: flex;
  }
  .gallery {
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }
  img {
    width: 100%;
  }
  
  /*
      Pantalla Extra Large (>=1200px) 
  
  */
  
  @media (min-width: 1200px) {
    .gallery {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .gallery-item {
      width: 30%;
    }
  }
  
  /* 
  
      Pantalla Large (>=992px) 
  
  */
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .gallery-item {
      width: 45%;
      padding-bottom: 25px;
    }
  }
  
  /* 
  
     Pantalla Medium (>=768px) 
  
  */
  
  @media (min-width: 768px) and (max-width: 991px) {
    .gallery-item {
      width: 45%;
      padding-bottom: 25px;
    }
  }
  
  /* 
  
      Pantalla LSmall (>=576px) 
  
  */
  
  @media (min-width: 576px) and (max-width: 767px) {
    .gallery-item {
      width: 45%;
      padding-bottom: 25px;
    }
  }
  
  /* 
  
      Pantalla Extra small (<576px) 
  
  */
  
  @media (max-width: 575px) {
    .gallery {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
    .gallery-item {
      width: 100%;
    }
  }