.footer{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: $decimoColor;
    color: white;
    align-items: center;
    &__copyright{
        width: 70%;
        padding-left: 30px;
        font-size: $small;
    }
    &__rrss{ 
        display: flex;
        width: 30%;
        list-style: none;
        justify-content: end;
        padding-right: 30px;
        li{
            list-style: none;
            padding: 0px 10px;
            a{
                i{
                    color: $primerColor;
                    font-size: $xx-large;
                }
            }
        }
    }
}