.contendor{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "navbar navbar navbar"
    "aside resena resena"
    "aside main main"
    "footer footer footer";
    grid-template-columns:1fr 11fr ;
    grid-template-rows: 60px 0.3fr 1fr 60px;
}

.navbar{
    grid-area: navbar;
    background-color: $colorPrimario;
}

.aside{
    grid-area: aside;
    background-color: $colorSecundario;
}

.main{
    background-color: $colorSecundario;
    grid-area: main;
}

.footer{
    grid-area: footer;
}

@media screen and (max-width:1280px){
    .contendor{
        grid-template-areas: 
        "navbar navbar navbar"
        "aside aside aside"
        "resena resena resena"
        "main main main"
        "footer footer footer";
        grid-template-columns:1fr 1fr ;
        grid-template-rows: 60px 0.1fr 0.3fr 1fr 60px;
    }
}

@media screen and (max-width:768px){
    .contendor{
        display: block;
    }
}