.search{
    width: 100%;
    display: flex;
    padding:5px;
    &__input{
        width: 100%;
        input{
            width: 100%;
            border: 1px solid purple;
            border-radius: 3px;
            text-align: center;
        }
    }
}