

.primary_section{
    max-width: 100vw;
    display: grid;
    grid-template-areas: 
    "left_side_column  center-column  right_side_column  "
    "left_side_column  center-column  right_side_column  ";
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows:1fr;
    column-gap: 10px;
    .left_side_column{
        grid-area: left_side_column;
    }
    .center-column{
        grid-area: center-column;
    }
    .right_side_column{
        grid-area: right_side_column;
    }
   }
